# DOCKER
## GENERAL
DOCKER_REGISTRY=localhost/docker/bumblebee
DOCKER_VERSION=latest
DOCKER_IMAGE_API="${DOCKER_REGISTRY}/api:${DOCKER_VERSION}"
DOCKER_IMAGE_WEB="${DOCKER_REGISTRY}/web:${DOCKER_VERSION}"

## OLTP
DOCKER_OLTP_ROOT_USER='postgres'
DOCKER_OLTP_ROOT_PASSWORD='docker'
DOCKER_OLTP_ROOT_DBNAME='postgres'
DOCKER_OLTP_PORT=5432

## API
DOCKER_API_PORT=9500

## WEB
DOCKER_WEB_PORT=9501

# OLTP
OLTP_HOST=oltp
OLTP_PORT=5432
OLTP_USER=docker
OLTP_PASSWORD=docker
OLTP_DBNAME=bumblebee

# API
API_PORT=8080

# WEB
WEB_PORT=80